<%- include("./partials/header"); -%>


<h1>Home</h1>
<p>
  <%= content %>
  <% for(let i=0;i<posts.length;i++){ %>
    <div class="item heading">
      <h1><%= posts[i].title %></h1>
      <p><%= posts[i].content.substring(0,100) +" ..." %>
      <a href="/posts/<%=posts[i]._id %>">Read more</a>
      </p>
      <%=console.log(posts[i].title);%>
      </div>

      <% } %>
</p>

<%- include("./partials/footer"); -%>
